<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Region</title>
    <link rel="stylesheet" href="../static/assets/create.css">
  </head>
  <body>
    <nav>
      <ul class="menu-bar">
        <div class="logo">
          <a href="/">Power Portal </a>
        </div>
        <li><a href="/">Home</a></li>
        <li><a href="/state">States</a></li>
        <li><a href="/resource">Resources</a></li>
        <li><a href="/sector">Sectors</a></li>
        <li><a href="/region">Regions</a></li>
        <li><a href="/plant">Plants</a></li>
        <li><a href="/organization">Organizations</a></li>
        <li><a href="/daily_reading">Daily Readings</a></li>
        <li><a href="/daily_demand">Daily Demands</a></li>
      </ul>
    </nav>
    <h1>Add a Region</h1>
    <form action="/region/create" method="POST" id="create-region-form">
      <div>
        <label>Region Name:</label>
        <input type="text" name="region_name" required />
      </div>
      <div>
        <label>Death Count:</label>
        <input type="number" name="death_count" />
      </div>
      <div>
        <label>Allowed Pollution:</label>
        <input type="number" step="any" name="allowed_pollution_level" />
      </div>
      <div>
        <input type="submit" value="Submit" />
      </div>
    </form>
  </body>
</html>