<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create State</title>
    <link rel="stylesheet" href="../static/assets/create.css">
  </head>
  <body>
    <h1>Add a State</h1>
    <form action="/state/create" method="POST" id="create-state-form">
      <div>
        <label>State Name:</label>
        <input type="text" name="state_name" required />
      </div>
      <div>
        <label>State GDP Percapita:</label>
        <input type="number" step="any" name="gdp_state_percapita" />
      </div>
      <div>
        <input type="submit" value="Submit" />
      </div>
    </form>
  </body>
</html>
