<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Organization</title>
    <link rel="stylesheet" href="../static/assets/create.css">
  </head>
  <body>
    <h1>Add a new Organization</h1>
    {% if state_list | length == 0 %}
        <p>No States Found! Add the states now!</p>
        <a href="/state/create" type="button">+ Add State</a>
    {% elif setor_list | length == 0 %}
        <p>No Sector Found! Add the Sectors now!</p>
        <a href="/sector/create" type="button">+ Add Sector</a>
    {% else %}
        <h1>Add a Organization</h1>
        <form action="/organization/create" method="POST" id="create-organization-form">
        <div>
            <label>Organization name:</label>
            <input type="text" name="org_name" required />
        </div>
        <div>
            <label>State:</label>
            <select name="state_select" required>
                {% for state in state_list %}
                    <option value="{{state['state_id']}}">{{state['state_name']}}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label>Sector:</label>
            <select name="sector_select" required>
                {% for sector in sector_list %}
                    <option value="{{sector['sector_id']}}">{{sector['sector_name']}}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label>Resource Contributed</label>
            <select name="resource_select">
                {% for resource in resource_list %}
                    <option value="{{resource['resource_id']}}">{{resource['resource_type']}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <input type="submit" value="Submit" />
        </div>
        </form>
    {% endif %}
  </body>
</html>
