<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter Sidebar</title>
    <link rel="stylesheet" href="../static/assets/index.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
    <table>
        <td>
            <div class="sidebar">
                <a href="/" class="sidebar__item">
                    <i class="sidebar__item__icon fa fa-home"></i>
                    <span class="sidebar__item__text">Home</span>
                </a>
                <a href="/state" class="sidebar__item">
                    <i class="sidebar__item__icon fa fa-compass"></i>
                    <span class="sidebar__item__text">States</span>
                </a>
                <a href="/resource" class="sidebar__item">
                    <i class="sidebar__item__icon fa fa-compass"></i>
                    <span class="sidebar__item__text">Resources</span>
                </a>
                <a href="/sector" class="sidebar__item">
                    <i class="sidebar__item__icon fa fa-compass"></i>
                    <span class="sidebar__item__text">Sectors</span>
                </a>
                <a href="/region" class="sidebar__item">
                    <i class="sidebar__item__icon fa fa-compass"></i>
                    <span class="sidebar__item__text">Regions</span>
                </a>
                <a href="/organization" class="sidebar__item">
                    <i class="sidebar__item__icon fa fa-compass"></i>
                    <span class="sidebar__item__text">Organization</span>
                </a>
            </div>
        </td>
        <td>
            <h1>Main Content</h1>
        </td>
    </table>
</body>
</html>