<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Organizations</title>
    <link rel="stylesheet" href="../static/assets/view.css">
  </head>
  <body>
    <nav>
      <ul class="menu-bar">
        <div class="logo">
          <a href="/">Power Portal </a>
        </div>
        <li><a href="/">Home</a></li>
        <li><a href="/state">States</a></li>
        <li><a href="/resource">Resources</a></li>
        <li><a href="/sector">Sectors</a></li>
        <li><a href="/region">Regions</a></li>
        <li><a href="/plant">Plants</a></li>
        <li><a href="/organization">Organizations</a></li>
        <li><a href="/daily_reading">Daily Readings</a></li>
        <li><a href="/daily_demand">Daily Demands</a></li>
      </ul>
    </nav>
    <h1 style="text-align: center">Organizations</h1>

    {% if org_data | length == 0 %}
        <p>No Organizations Found! Add the organizations now!</p>
        <a href="/organization/create" type="button">+ Add Organization</a>
    {% else %}
    <table id="organization-detail">
      <thead>
        <th>Organization ID</th>
        <th>Organization Name</th>
        <th>State</th>
        <th>Sector</th>
        
        <th>Actions</th>
      </thead>
      {% for organization in org_data %}
      <tr>
        <td>{{organization["org_id"]}}</td>
        <td>{{organization["org_name"]}}</td>
        <td>{{(organization["state"]).state_name}}</td>
        <td>{{(organization["sector"]).sector_name}}</td>
        <td>
            <a href="/organization/{{organization['org_id']}}/update" type="button">Update</a>
            <a href="/organization/{{organization['org_id']}}/delete" type="button">Delete</a>
        </td>
      </tr>
      {% endfor %}
    </table>
    <a href="/organization/create" type="button">+ Add Organization</a>
    {% endif %}
    <br>
    <a href="/">Go Back to Home</a>
  </body>
</html>